# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# Database & SQLite
*.db
*.sqlite3
juli_churn.db

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
.npm

# Logs
*.log
mlruns/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
